---
layout: default
title: "上帝也吐槽 - 大熊的吐槽"
description: "上帝也吐槽,为自己提供一块吐槽之地。"
keywords: 电子商务,互联网创业,O2O,电商,移动互联网
---
<!-- 标签云 -->




<!-- 文章列表 -->
{% for post in paginator.posts %}
<div class="index_lists">
    <div class="index_des">
        <div class="index_img">
            {% if post.img %}
            <img src="{{ site:url }}/images/{{ post.img }}" alt="" />
            {% endif %}
        </div>
        <div class="article-right">
            <h4>
                <a href="{{ site:url  }}{{ post.url  }}" target="_blank">{{post.title}}</a>
            </h4>
            <div class="article-right-text">{{ post.description }}</div>
        </div>
    </div>

    <div class="article-bottom">
        <div class="metatag">
            <span class="date">{{ post.date | date:"%Y-%m-%d" }}</span>
            <ul class="tags">
            {% assign tags_list = post.tags %}
            {% include COM/tags_list %}
            </ul>
            <a href="" class="au" target="_blank">
                <span>{{post.author}}</span>
                <i></i>
            </a>
            <a href="" class="sor">{{  site.catenames[post.category]}}</a>
        </div>
    </div>
</div>
{% endfor %}

<!-- 分页 -->
<div class="ep-pages">
    <span>第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
    <a href="/">|<</a>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" ><<</a>
        {% else %}
        <a href="/page{{paginator.previous_page}}"><<</a>
        {% endif %}

    {% else %}
    <span><<</span>
    {% endif %}


      {% if paginator.page == 1 %}
        <span class="current">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) limit:8 %}
    {% if count == paginator.page %}
    <span class="current">{{count}}</span>
    {% else %}
    <a href="/page{{count}}">{{count}}</a>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">>></a>
    {% else %}
    <span>>></span>
    {% endif %}
    <a href="/page{{paginator.total_pages}}">>|</a>
</div>
